[submodule "MeleeCore"]
	path = Plugins/MeleeCore
	url = https://github.com/hakuhan/MeleeCore.git
[submodule "MindCore"]
	path = Plugins/MindCore
	url = https://github.com/hakuhan/MindCore.git
[submodule "StorySystem"]
	path = Plugins/StorySystem
	url = https://github.com/hakuhan/StorySystem.git
